@import 'fonts.css';

body {
    font-family: "Yekan";


}
.container-fluid {
    background: #2a363b;
    padding: 0 ;
}

.navbar-brand > img {
    width: 90px;
    height: 90px;
}
.img-container {
    position: relative;
    height: 500px;
}
.decor-body {
    width: 100%;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    height: 31px;
}
.img-container > .cover-img {
    background: url(../images/banner-services.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .35;
    margin: 0 !important;
}
.custom-ptb {
    padding: 2.5em 5em ;
    position: relative;
    z-index: 10;
}

.custom-p {
    padding: 2em;
}
.bd-left {  
    border-left: 0.5px solid #9f9b9b;
}

h1,
h2 {
    color: #fff;
    font-size: 30px;
}

p {
    color: #fff;
}

.input-group-text {
    background-color: #e84e0f;
    -moz-background-color: #e84e0f;
    -o-background-color: #e84e0f;
}

.form-control {
    padding: 0.5em;
}

h3,
h4 {
    font-size: 18px;
    color: #fff;
    margin-top: 1em;
}

.btn-btn {
    background-color: #e84e0f;
    margin-top: 1em;
    border-radius: 8px;
    padding: 1em;
}
